* {
  font-family: 'Share Tech Mono', monospace;
}

body {
  background: url('../assets/pexels-pixabay-47367.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
  margin-top: 20%;
}

.h1Tag {
    margin-top: 10%;
    font-size: 600%;
  }
@media all and (max-width: 1000px) {
  .h1Tag {
    margin-top: 40%;
    font-size: 200%;
  }
}

.countdown-h1{
  font-size: 150%;
}

ul {
  padding: 0%;
}

#temp , #chance-of-rain{
  margin-top: 80px;
}

.container2 {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  animation: down ease-in-out 1s;
}

@keyframes down{
  0% {
    transform: translateY(-700px);
  }
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

@media all and (max-width: 800px) {
  h1 {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }

  li span {
    font-size: 2rem;
  }
}

.launch-container{
  background: rgba(255, 255, 255, 0.6);
  border-radius: 2%;
}

@media all and (max-width: 800px) {
  #temp, #chance-of-rain {
    font-size: 40px;
  }
}

.rocket-container {
  margin-top:0%;
}

.text-appear:hover .overlay {
  opacity: 1.5;
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: .5s ease;
}

.text {
  color: rgba(255, 255, 255, 0.792) ;
  font-size: 20px;
  position: absolute;
  left: 50px;
  bottom: 45px;
}

.center-block{
  position: relative;
  transition-duration: 350ms;
  animation: up ease-in-out 2s ;
}

/* @media all and (max-width: 2048px) {
  .center-block {
    margin-top: 70%;
  }
} */

@keyframes up {
  0% {
    transform: translateY(700px);
  }
  50% {
    transform: scale(1.05);
  }
  65% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.center-block:hover {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.container-forecast{
  display: flex;
  justify-content: center;
}

.title-forecast{
  background: rgba(255, 255, 255, 0.6);
  border-radius: 20px;
  margin-top: 30px;
  padding-left: 2%;
  padding-right: 2%;
}
@media all and (max-width: 800px) {
  .title-forecast {
    font-size: 20px;
  }
}

.weather-wrapper{
  display: flex;
  justify-content: center;
}

.weather-card {
  margin: 20px 5px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 270px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
}

.weather-card h1 {
  position: absolute;
  font-weight: 300;
  font-size: 60px;
  color: #000000;
  left: 35px;
  opacity: 0;
  transition: translatex(150px);
  animation: title-appear 500ms ease-out  500ms forwards;

}

.weather-card p {
  position: absolute;
  font-weight: 300;
  font-size: 28px;
  color: #000000;
  bottom: 0;
  left: 35px;
  animation: title-appear 500ms ease-out  500ms forwards;
}

.weather-icon {
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  float: right;
  margin: 50px 40px 0 0;
  animation: weather-icon-move 5s ease-in-out  infinite;
}

.sun {
  background: #ffcd41;
  border-radius: 50%;
  box-shadow: rgba(234, 255, 0, 0.1) 0 0 0 4px;
  animation: light 1s ease-in-out  infinite alternate, weather-icon-move 5s ease-in-out  infinite;
  }

.cloud {
  margin-right: 60px;
  background: #b6cede;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  box-shadow:
  #b6cede 24px -6px 0 2px,
  #b6cede 10px 5px 0 5px,
  #b6cede 30px 5px 0 2px,
  #b6cede 11px -8px 0 -3px,
  #b6cede 25px 11px 0 -1px;

}

.cloud:after {
  content: '';
  position: absolute;
  border-radius: 50px;
  background-color: transparent;
  width: 4px;
  height: 12px;
  left: 0;
  top: 30px;
  transform: rotate(30deg);
  animation: rain 900ms ease-in-out  infinite alternate;

}

@keyframes rain {
  from {
  box-shadow:
  #2092a96a 8px 0px,
  #2092a96a 32px -6px,
  #2092a9 20px 0px;
  }
  to {
  box-shadow:
  #2092a9 8px 6px,
  #2092a9 32px 0px,
  #2092a9 20px 6px;
  }
}

@keyframes weather-icon-move {
  50% {
    transform: translateY(-30px);
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0,0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 202, 110, 0.47) 0 0 0 17px;
  }
}

.spaceship-img {
  max-width: 600px;
  border-radius: 20px;
}

@media all and (max-width: 800px) {
  .spaceship-img {
    max-width: 300px;
  }
}

@media all and (max-width: 800px) {
  .weeks {
    font-size: 10px;
  }
}

.spaceship-container{
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  animation: downs ease-in-out 1.5s;
}

@media all and (max-width: 800px) {
  .spaceship-container {
    margin-top: 10%;
  }
}

@keyframes downs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mission-card{
  position: absolute;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
  background: rgba(255, 255, 255, 0.6);
  animation: mission-appear ease-out 1s;
  margin-bottom: 20px;
  border-radius: 20px;
}

@keyframes mission-appear {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
